 @font-face {
    font-family: fonts;
    src: url('..assets/fonts-');
 }

 :root {
    --primary-colour: rgb(255, 219, 88);
    --secondary-colour:rgb(158, 158, 158);
    --tertiary-colour: rgb(003, 007, 018);
    --font-family: "Figtree", sans-serif;
 }
 
 *, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

body {
    background-color:var(--primary-colour);
    font-family: var(--font-family);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 384px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #000000;
    border: 1px solid #000000;
    padding: 1.5rem;
    background-color: white;
}

.card-banner {
    width: 100%;
    border-radius: 5px;
}

.btn-primary {
    background-color: var(--primary-colour);
    text-align: center;
    padding: 1rem 1.5rem;
    color: var(--secondary-colour);
    border-radius: 5px;
    border: none;
    outline: none;
}

.card-title {
    font-size: 20px;
    margin: 0.5rem 0;

}

.card-title:hover {
    color: var(--primary-colour);
}

.card-description {
    color: var(--primary-colour-two );
}

footer{
    color: var(--tertiary-colour);
    margin-top: 30px;
    display: flex;
    gap: 1rem;
}

.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}
