@font-face {
   font-family: 'MyVariableFont';
  src: url('fonts/MyFont-opsz,wght.ttf') format('truetype'); 
  
}

:root {
  --color-green: hsl(75, 94%, 57%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
  --color-white: hsl(0, 0%, 100%);

}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    padding: 2rem;
    background-color: var(--color-grey-900);
    color: var(--color-white);
    font-family: 'MyVariableFont', sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

a {
    color: var(--color-white) ;
    text-decoration: none;
}

.card {
    margin-top: 50px;
    width: 384px;
    border-radius: 15px;
    padding: 1.5rem;
    background-color: var(--color-grey-800);
    text-align: center;

}

.title {
    font-weight: 700;
    font-size: 24px;
    margin: 1rem 0;
}

.subtitle {
  color: var(--color-green);
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 2rem;
}

.profile-pic {
  width: 100px;       
  height: 100px;    
  border-radius: 50%; 
  object-fit: cover; 
}

.tagline {
  font-size: 12px;
  font-style: italic;
  margin-top: -10px;
  font-weight: 400;
}

.links {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem; 
  align-items: center;
  list-style-type: none;
}

.links > li {
  width: 100%;
}

.link {
    background-color: var(--color-grey-700);
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
}
 
.link:hover {
    background-color:  var(--color-green);
    cursor: pointer;
}